
h1{
    text-align: center;
    font-size: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

footer {
    padding: 25px;   
}

.name {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: left;
    color:rgb(19, 16, 16);
    padding: 10px;
    margin-left: 100px;   
}

.menu-table {
    border: 1px solid rgb(240, 224, 229);
    color: rgb(10, 1, 1);
    margin-top: 10px;
    width: 600px;
    height: 200px;
    background-color: #e95a8c;
}

.menu-heading {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    color: rgb(19, 18, 18);
}
    
dt {
    font-size: 1.5rem;
    margin-left: 10%;
    font-family: 'Hubali', cursive;
}

dd {
    font-size: 1.5rem;
    margin-left: 15%;
    font-family: 'Hubali', cursive;
}
   
.clear {
    color: bisque;
}

p {
    text-align: center;
    font-family: 'Hubali', cursive;
    font-size: 1.5rem;
    color: bisque;
    float: right;
    padding: 20px
}

.order-table {
    border: 1px solid rgb(22, 22, 21);
    color: rgb(20, 19, 19);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
    font-family; 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
    margin-top: 10px;
    width: 300px;
    background-color: #e95a8c;
    display: none;
}

#btnn {
    display: none;
}

#delivery {
    display: none;
}

th, td {
    border: 1px solid rgb(233, 120, 154);
}


